* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background: #f7fbfc;
}

.profile-pic-tiny {
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.profile-pic-small {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}

.profile-pic-medium {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    object-fit: cover;
}
